<app-navbar></app-navbar>
<section class="hero-section-help" id="home" style="background-size: cover; height: 50%; opacity: 1;">
  <div class="container">
    <div class="ml-4 row">
      <div class="container">

        <section style="">
          <div class=" mb-5 ml-5 col-xl-12"><h3 class="mb-4" style="font-weight: lighter;">Carrières</h3>
            <div *ngIf="carreers.length == 0">Aucune donnée</div>
            <div class="card col-md-6" style="padding: 20px;" *ngFor="let carreer of carreers">
              {{carreer?.title}}<br>
              Postuler à : {{carreer.mail}}<br>
              Délais : {{carreer.date}}<br>
              <p> {{ carreer?.description }} <br>
              </p>
            </div>
          </div>
          <div class="col-xl-12">
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
