<app-navbar></app-navbar>
<div class="justify-content-center text-center" style="margin-top: 15%;">
  <div class="container">
    <div class="justify-content-center text-center">
      <div class="login-image text-center" style="width: 870px;">
        <div class="login-image-left" style="">
          <div class="login-image-center" style="font-size: 1.2em; font-weight: bold;">Bienvenue sur Toobib</div>
          <div class=" login-image-center" style="margin-top: 50%;font-size: 0.7em;" routerLink="/register">Êtes vous
            nouveau sur Toobib ? Inscrivez-vous
          </div>
        </div>
        <div class="login-image-right">
          <div class="card">
            <div class="p-0 card-body">
              <div class="row">
                <div class="mt-3 mb-5 col-xl-12 no-margin-left-mobile" style="margin-left: 55px;"><img
                  src="assets/images/logo_toobib_noir.png" height="50"
                  style="display: block; margin-left: auto; margin-top: 20px; margin-right: auto;">
                </div>
                <div class="text-center  justify-content-center mb-5 col-xl-12  no-margin-left-mobile"
                     style="margin-left: 80px;">
                  <p
                    style="letter-spacing: 2.1px; color: rgb(38, 64, 77);width: 50%;
    margin: 12px auto;
    text-align: left;
    padding-left: 11px;" class="button-border-left form-label">Nous vous avons envoyé un code de validation au ({{user.phone}}) pour confirmer votre demande. <br>Veuillez entrer le code :  </p>
                  <form class="form-responsive" style="margin-left: 25%;" (ngSubmit)="activateAccount()">
                    <div class="form-group"><input placeholder="Entrez le code" type="text" name="email"
                                                   [(ngModel)]="data.code" class="input-login form-control">
                    </div><br>

                    <button type="submit" class="btn btn-primary btn-left-0"
                            style="width: 61%; margin-left: -38%; margin-bottom: 10%; background: rgb(29, 135, 187); border-radius: inherit;">
                      Vérifier
                    </button>
                    <br>
                    <!-- <div>
                      Vous n'avez pas reçu de code ? <br>
                      <a class="btn btn-primary" (click)="resendCode()" *ngIf="resend" style="padding: 4px 20px;color: #fff;">Renvoyer</a>
                      <span  *ngIf="!resend">
                        Renvoyer un code dans
                        <countdown #cd  (event)="handleEvent($event)"></countdown>
                      </span>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
