<app-navbar></app-navbar>
<section class="hero-section-help" style="
    padding-bottom: 0px;">
  <div class="container">
    <div class="ml-4 row">
      <div class="container">

        <section style="">
          <div class=" mb-5 ml-5 col-xl-12"><h3 class="mb-4" style="font-weight: lighter;">Qui sommes nous ?</h3>
            <h4>Présentation</h4><br>
          <div>
            La Côte d’Ivoire a-t-elle besoin d’un meilleur système de santé ?
            Nous en sommes persuadés ! C’est pour cette raison qu’a été conçu Toobib, la plateforme de
            référence dédié à la gestion et la prise de rendez-vous en ligne.<br><br>
            <h5>Avec Toobib, nous avons conçu :</h5><br>
            <div class="row">
              <div class="col-md-6">
                <div class="list-speciality card"  style="height: 170px;">
                  <div class="card-body text-center">
                    <p class="card-text"> Un outil de gestion de planning simple et facile d’utilisation. Les professionnels de santé ont
                      ainsi la possibilité de diffuser leurs disponibilités, gérer efficacement leur rendez-vous et
                      communiquer sur leur établissement.</p></div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="list-speciality card"  style="height: 170px;">
                  <div class="card-body text-center">
                    <p class="card-text"> Une plateforme de prise de rendez-vous en ligne. Les patients ont accès directement à
                      l’emploi du temps des médecins. Ils peuvent réserver une consultation pour eux ou un de leur
                      proche et régler directement les frais grâce au système de paiement intégré (Mobile Money,
                      PayPal).</p></div>
                </div>

              </div>
            </div>
          </div>
          </div>
          <div class="col-xl-12">
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="hero-section-help" style="padding-top: 60px;
    padding-bottom: 0px;background: #2f4854;
    color: #fff;">
  <div class="container">
    <div class="ml-4 row">
      <div class="container">

        <section style="">
          <div class=" mb-5 ml-5 col-xl-12"><h3 class="mb-4" style="font-weight: lighter;color: #fff;">Ce qu’on recherche</h3>

          <div>

            <p>
              Nous serons très fiers de participer à la construction de la Côte d’Ivoire en contribuant à l’amélioration
              de son système de santé. Nous sommes convaincus que la santé est un des piliers de la croissance
              socio-économique et voulons simplifier l’accès à un médecin à l’ensemble de la population ivoirienne
            </p>
          </div>
          </div>
          <div class="col-xl-12">
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="hero-section-help" style="padding-top: 60px;
    padding-bottom: 0px;">
  <div class="container">
    <div class="ml-4 row">
      <div class="container">

        <section style="">
          <div class=" mb-5 ml-5 col-xl-12"><h3 class="mb-4" style="font-weight: lighter;">Bon à savoir</h3>

          <div>


            <p>
              Nous sommes une entreprise jeune et en pleine croissance, idéal pour des personnes souhaitant
              participer à la réussite de Toobib.<br><br>
              Et si l’envie de passer dire bonjour vous prend, notre bureau est situé à Angré, juste à l’entrée de la
              cité Star 9 B, non loin de la pharmacie des Allées.
            </p>
          </div>
          </div>
          <div class="col-xl-12">
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
