<div class="">
  <button type="button" class="close close-blue" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div style="padding: 20px">
  <p>
    Voulez vous vraiment supprimer cet information ?
  </p>
  <div class="row">
    <div class="col-md-6 text-center">
      <button  type="button" class="btn btn-primary" (click)="deleteMeta()">Supprimer</button>
    </div>
    <div class="col-md-6 text-center">
      <button  type="button" class="btn btn-warning" (click)="activeModal.dismiss('Cross click')">Annuler</button>
    </div>
  </div>


</div>
