<app-navbar></app-navbar>
<img src="assets/images/rdv_image.png" class="hide-mobile" style="position: fixed; bottom: -10%;
    left: -5%;
    z-index: -9;
    width: 325px;"/>
<div class="container mt-4" style="padding-top: 86px;">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="justify-content-center text-center" style="width: 100%; margin-bottom: 16px;">
          <div class="card-body">
            <h5 class="text-dark-b text-left mt-4" style="font-weight: lighter;">Mes Rendez-vous</h5>
            <full-calendar [options]="calendarOptions" #mvp></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
